---
import Carousel from '../components/Carousel.astro';
import Marquee from '../components/Marquee.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-screen bg-red-400">
		<section class="h-screen">
			<!-- <Marquee /> -->
			<Carousel />
		</section>

		<section class="h-screen bg-blue-300">
			<h2 class="text-center text-primary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae fuga possimus id? Totam cum aut quas corporis necessitatibus a debitis incidunt sint, ullam voluptatum sapiente et enim fugiat modi repellendus.</h2>
		</section> 
	</main>
</Layout>

