---
import Carousel from '../components/Carousel.astro';
import Marquee from '../components/Marquee.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import VisualEditor from '../components/VisualEditor.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="h-screen bg-red-400">
		<section class="h-screen">
			<!-- <Marquee /> -->
			<Carousel />
		</section>

		<section class="h-screen bg-blue-300">
			<!-- <ProjectsGrid/> -->
			<VisualEditor />
		</section> 
	</main>
</Layout>