---
import Carousel from '../components/Carousel.astro';
import Marquee from '../components/Marquee.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import VisualEditor from '../components/VisualEditor.astro';
import Layout from '../layouts/Layout.astro';
---


<VisualEditor isVisible={true}>
	<main class=" bg-red-400">
		<section class="">
			<!-- <Marquee /> -->
			<!-- <Carousel /> -->
		</section>

		<section class=" bg-blue-300">
			<!-- <ProjectsGrid/> -->
			</section> 
	</main>
</VisualEditor>
