---
import Marquee from '../components/Marquee.astro';
import Navbar from '../components/Navbar.astro';
import ProjectsGrid from '../components/ProjectsGrid.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<Navbar />
	<main class="h-screen bg-red-400 mt-16">
		<section class="h-screen">
			<Marquee />
			<!-- <Carousel /> -->
		</section>

		<section class="h-screen bg-blue-300 overflow-hidden relative">
			<ProjectsGrid/>
		</section> 
	</main>
</Layout>