---
  const {className, href} = Astro.props;
---

<a class={`button text-center w-fit cursor-pointer ${className}`} href={href}>
  <slot/>
</a>

<style is:global>
  .button:hover svg path {
    stroke: white
  }
</style>