---

---

<div class="carousel overflow-hidden h-screen inline-block">
	<div class="carousel-content h-full inline-flex flex-col">
		<ul class="carousel-content">
			<li>
				<img src="https://www.wfla.com/wp-content/uploads/sites/71/2023/05/GettyImages-1389862392.jpg?w=2560&h=1440&crop=1" alt="">
			</li>
			<li>
				<img src="https://assets.entrepreneur.com/content/3x2/2000/1691157794-petting-dog-reduce-stress-0823-g1220822325.jpg" alt="">
			</li>
		</ul>
	</div>
</div>

<style>
:root {
  --carousel-width: 80vw;
  --carousel-height: 10vh;
  /* --carousel-elements: 12; */ /* defined with JavaScript */
  --carousel-elements-displayed: 1;
  --carousel-element-height: calc(var(--carousel-height) / var(--carousel-elements-displayed));
  --carousel-animation-duration: calc(var(--carousel-elements) * 3s);
}


.carousel-content {
  animation: scrolling-up var(--carousel-animation-duration) linear infinite;
}
.carousel-content:hover {
  animation-play-state: paused;
}

@keyframes scrolling-up {
  0% { transform: translateY(0); }
  100% { transform: translateY(calc(-1 * var(--carousel-element-height) * var(--carousel-elements))); }
}
.carousel-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--carousel-element-height);
  max-height: 100%;
  font-size: calc(var(--carousel-height)*3/4);
  white-space: nowrap;
}

img {
	height: var(--carousel-height);
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --carousel-width: 100vw;
    --carousel-height: 16vh;
    --carousel-elements-displayed: 3;
  }
  .carousel:before, .carousel:after { width: 5rem; }
}
</style>

<script>
  // @ts-nocheck
	const root = document.documentElement;
	const carouselElementsDisplayed = getComputedStyle(root).getPropertyValue("--carousel-elements-displayed");
	const carouselContent = document.querySelector(".carousel-content");

  if (!carouselContent || !carouselElementsDisplayed) {
    throw new Error("Carousel content not found");
  }

	root.style.setProperty("--carousel-elements", carouselContent.children.length);
	
	for(let i=0; i<carouselElementsDisplayed + 1; i++) {
		carouselContent.appendChild(carouselContent.children[i].cloneNode(true));
	}
</script>