---
---

<div class="bento-grid carousel-content grid-cols-2 lg:w-1/2 my-0 mx-auto h-[60vh] lg:h-[65vh]">
  <div class="scroll-up">
    <div id="projectDetail"></div>
    <img src="https://images.pexels.com/photos/5386829/pexels-photo-5386829.jpeg" alt="">
    <img src="https://images.pexels.com/photos/18273081/pexels-photo-18273081/free-photo-of-islandia-mar-paisaje-montanas.jpeg" alt="">
    <img src="https://images.pexels.com/photos/18624573/pexels-photo-18624573/free-photo-of-mujer-calle-tarde-precioso.jpeg">
  </div>
  <div class="scroll-up">
    <img src="https://images.unsplash.com/photo-1703701008461-ce64767019d3?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1OHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <img src="https://images.unsplash.com/photo-1682687982468-4584ff11f88a?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
    <img src="https://images.pexels.com/photos/16453280/pexels-photo-16453280/free-photo-of-pajaro-sentado-guila.jpeg" alt="">
  </div>
</div>

<style>
  .scroll-up {
    animation: scrolling-up 30s linear infinite;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .scroll-up:hover {
    animation-play-state: paused;
  }

  @keyframes scrolling-up {
    0% { transform: translateY(0); }
    100% { transform: translateY(var(--translate-distance)); }
  }

  @media (max-width: 600px) {
    .scroll-up {
      /* animation: none; */
    }
  }

  /* GRID */
  .bento-grid {
    display: grid;
    grid-template-rows: 100%;
    gap: 30px;
    overflow: hidden;
  }

  #projectDetail {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    z-index: 999;
  }
  #projectDetail {
    display: none;
  }
  .col-0:hover #projectDetail {
    display: block;
  }
</style>

<script>
  // @ts-nocheck
  Promise.all(Array.from(document.images).filter(img => !img.complete).map(img => new Promise(resolve => { img.onload = img.onerror = resolve; }))).then(() => {
    const pxToVW = (px: number) => {
      return px * (100 / [document.documentElement.clientWidth])
    }
    
    const cols = document.getElementsByClassName("scroll-up");
  
    for (let index = 0; index < cols.length; index++) {
      const col = cols[index];
      const colImgs = col.getElementsByTagName("img")
      const childs = colImgs?.length;

      const gapBetweenImgs = (colImgs.length) * 30 // gap of grid in px
      let colHeight = gapBetweenImgs;
      for (let index = 0; index < colImgs.length; index++) {
        colHeight += colImgs[index].height
      }

      col.style.setProperty("--translate-distance", `-${pxToVW(colHeight)}vw`);
      for (let index = 0; index < childs; index++) {
        col.appendChild(colImgs[index].cloneNode(true));
      }
    }
});
</script>

<script>
  // @ts-nocheck
  // JS para el div en hover de un proyecto
  //todo: el id sale duplicado el duplicar el elemento, como hay un overflow:hidden no sale
  const myDiv = document.getElementById('projectDetail');
  const bentoGrid = document.querySelector('.bento-grid');

  if (myDiv && myDiv.style.display !== 'none') {
    function move(e: MouseEvent) {
      const x = e.pageX;
      const y = e.pageY;
      
      myDiv.style.left = x  + 'px';
      myDiv.style.top = y  + 'px';
    }
    
    bentoGrid.addEventListener('mousemove', e => {
      move(e)
    });
  }
</script>